#col2 > .accordion {
  background-color: #272727;
  color: #444;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-top : 0px solid #252525;
  border-bottom : 0px solid #928888;
}
svg {width:15px; height:15px; }
#col2 > .accordion.b_3c3b3b  {background-color : #3c3b3b; }
#col2 > .accordion.b_272727 {background-color :  #272727; }
.col2title.b_272727 {background-color :  #272727; }


#col2 > .active, #col2 > .accordion:hover {
  background-color: #ececec;
}

#col2 > .accordion {background-color : #ccc;}
#col2 > .accordion {width:calc(100% - 10px); border-bottom:1px solid #5d5a5a; border-radius:8px; margin:2px 5px; }
#col2 > .accordion.spanLong {padding: 17px; padding-top:13px;}
#col2 > .accordion.spanLong span { line-height:23px; width:97%; } 
#col2 > .accordion.spanLong:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


#col2 > .accordion span { color:#000;  }
#col2 > .accordion span a { color:red;  }


#col2 > .accordion:hover span {
 color:#000;
}

#col2 > .accordion:hover span a {
 color:red;
}


#col2 > .blank.bottom  {
height:40px;
 background-color :  #333333; 
}

#col2 > .blank.bottom:hover  {
height:40px;
 background-color :  #333333; 
}



#col2 > .blank  {
height:7px;
 background-color :  #7b7b7b; 
}

#col2 > .blank:hover  {
height:7px;
 background-color :  #7b7b7b; 
}



.accordion:hover > span > a {color:red; }
.accordion span:hover a {color:red; }


.accordion.active span > a {color:red; }

#col2 > .accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

#col2 > .active:after {
  content: "\2212";
}

#col2 > .panel {
  padding: 0 0px;
  background-color: #3c3b3b;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin:0px; 
  font-family:gulim;
  }


#col2 > .panel > p {
 height:auto; 
 min-height:250px;
 margin:10px; 
 color:#fff;
  }

  #col2 > .panel p a.a_title {color:#ff0000; } /*3eff0e*/
  #col2 > .panel p a.a_title:hover {color:#ff0000;opacity:0.7;cursor: pointer;}
  #col2 > .panel p a.a_contents {color:#0000ff;} /*ffc00d*/
  #col2 > .panel p a.a_contents:hover {color:#0000ff;opacity:0.7;cursor: pointer;}
  #col2 > .panel p a sup {font-size: 7px;  -webkit-transform:scale(0.83); font-family:sans-serif;}
/*
 .accordion span.spanLong {color:#fff; font-family:gulim; font-size:16px; line-height:24px; margin-top:7px; }
 .accordion span.spanBasic {color:#fff; font-family:gulim; font-size:16px; margin:8px 0px; }*/


.accordion span {color:#fff; font-family:serif; font-size:16px;  }

.panel article p { height:auto; margin:25px 20px;  color:#fff; line-height:23px; }


  #col2 > .panel p a::selection {
		background-color: yellow;
		color: black;
		 opacity:1;
	}
  #col2 > .panel p a sup::selection {
		background-color: yellow;
		color: black;
		 opacity:1;
	}
.panel article p::selection {
		background-color: yellow;
		color: black;
		 opacity:1;
	}

.panel article p span::selection {
		background-color: yellow;
		color: black;
		 opacity:1;
	}


.panel article h2 { font-size:16px; margin-top:17px; color:#fff;  }


#col2 > .panel > p > span {color:#000; margin:5px; padding:10px; } 

.panel > article > p > span.spanBg { width:auto; height:25px; background-color:yellow; color:#000; padding:4px; padding-left:1px; display:inline-block;}

.accordion span img {height:13px;  }

div.hashtag  {width:auto; height:25px; color:#fff; background-color:#000; margin:5px; padding:5px; display:inline-block; font-size:12px; 
font-family: 'gulim'; font-weight:normal; padding-left:1px; padding-top:3px; border-radius:5px; padding-right:12px; border:1px solid #4c4949;} 
div.hashtag:hover {opacity:0.7; cursor: pointer;  border-radius:5px; }
div.hashtag img {height:14px; margin-top:3px; display:inline-block; float:left; margin-left:7px;}
div.hashtag > span {height:14px; padding-top:2px; display:inline-block; float:left; margin-top:2px; margin-left:-2px;  }


div.dbTag  {width:auto; height:25px; color:#fff; background-color:#000; margin:5px; padding:0px; padding-right:10px;  border:1px solid #4c4949; display:inline-block; font-size:12px; font-family: 'gulim'; font-weight:normal; padding-left:1px;  border-radius:5px; } 
div.dbTag:hover {opacity:0.7; cursor: pointer;  border-radius:5px; }
div.dbTag > img {height:14px; margin-top:6px; display:inline-block; float:left; margin-left:7px; }
div.dbTag > span {height:14px; padding-top:2px; display:inline-block; float:left; margin-top:5px; margin-left:-2px; }


a sup.hash {background-color:#fff; color:#0000ff; }
a sup.data {background-color:#fff; color:#00ffff; }