@charset "utf-8";
/* reset.css */
/* 웹페이지 디자인 초기화 및 기본 세팅  :  언어 설정, 기본 공백 제거, 숨김 영역 설정  */
	*{  margin:0; padding:0; border:0; text-align:left;  letter-spacing:0; word-spacing:0; -moz-box-sizing: border-box; box-sizing: border-box;   line-height:100%; 
	-webkit-text-size-adjust:none; 
	-moz-text-size-adjust:none;
	-ms-text-size-adjust:none; } 
	/* 브라우저마다 기본적으로 적용되어 있는 요소(body)의 margin padding border 속성값을 0으로 설정 초기화, 0은 단위(px)를 사용하지 않습니다 */

	html, body { height:6738px;  }
	li { list-style-type:none;  word-break:break-all; }
	div, h1, img, a, div, form, fieldset, input, legend, label, ul, li, dl, dd, p, article   {  border:0 none;  outline:none; word-break:break-all; }
	.hidden { position:absolute; left:-9999px; width:1px; height:1px; overflow:hidden; /*font-size:0;*/ line-height:0; }
	a { text-decoration:none;  outline:none;  text-align:center;  } 
	a > span { text-decoration:none;  outline:none;  text-align:center; } 
	

	/* 
		A 태그에 onfocus="this.blur();"를 추가하게 되면, 이미지 링크 주변의 점섬이 나타나지 않게 된다. 
		onfocus="this.blur();"  웹접근성에 위배
		키보드 이용 시 사용자가 focus 받는 위치를 명확하게 알 수 있도록 표시하여야 합니다

		줄바꿈속성
			word-break:break-all;  
	*/