/* module03.css */

.contentsLoading.module03 {width:100%; height:100%; background-color:#fff; text-align:left; }
.contents_box.module03 {width:100%; height:100%;  background-color:#fff; text-align:left; }
.module03Box {width:100%; height:100%;  background-color:#000; color:#fff; }