/* module01.css */


.module01Box { width:100%; height:200px; overflow:hidden;  
				word-break:break-all;  box-sizing:border-box; 
				background-color:#000; color:#fff; 
				font-family: 'Exo 2', sans-serif; font-size:95px; font-weight:bold;  
				text-decoration:none; line-height:200px; text-align:center; 
				position:relative;}

.module01Box a {color:#fff; }
.module01Box a:hover {color:#fff; opacity: 0.7; transition: 0.9s;}
.module01Box a.subtitle { width:185px; height:19px; line-height:12px;  position:absolute; top:2px; left:3px; font-size:9px; background-color:#000; border-radius:7px; padding:4px; font-family:tahoma; font-weight:bold; color:#fff; font-variant: small-caps; text-align:left;}
.module01Box a.subtitle:hover  { opacity: 0.7; transition: 0.5s;}