/* module01.css */


.module02Box { width:100%; height:auto; overflow:hidden;  
				word-break:break-all;  box-sizing:border-box; 
				background-color:#000; color:#fff; 
				font-family: 'Exo 2', sans-serif; font-size:111px; font-weight:bold;  
				text-decoration:none; line-height:200px; text-align:center; 
				border-bottom: 0px solid #fff; }

.gnbBox { width:100%; height:100%; overflow:hidden;  
				word-break:break-all;  box-sizing:border-box; 
				background-color:#000; color:#fff; 
				font-family: 'Exo 2', sans-serif; font-size:111px; font-weight:bold;  
				text-decoration:none; line-height:200px; text-align:center; }



			/*main {background-color: red;}*/
			ul.mainGnb {
			  height:100%;
			  list-style-type: none;
			  margin: 0 auto;
			  padding: 0;
			  overflow: hidden;
			  background-color: #000;
			  border : 0px solid red;
			}

			ul.mainGnb li {
			  float: left;
			  line-height:100%;
			}

			ul.mainGnb li a {
			  display: block;
			  color: white;
			  text-align: center;
			  font-family: 'Exo 2', sans-serif; 
			  font-weight: bold;
			  font-size: 19px;
			  padding: 14px 18px;
			  text-decoration: none;
			}
ul.mainGnb li a.active {
			  display: block;
			  color: white;
			  text-align: center;
			  font-family: 'Exo 2', sans-serif; 
			  font-weight: bold;
			  font-size: 19px;
			  padding: 14px 18px;
			  text-decoration: none;
			  color: #fcff56;
			}


			/* Change the link color to #111 (black) on hover */
			ul.mainGnb li a:hover {
			  background-color: #3d3d3d; color:red; background-image:url("../../_img/skin/menu_bg.png"); transition: 0.5s;
			}

ul.mainGnb p {display:inline-block;  float:right; margin-right:7px; line-height:41px; height:20px; } 
ul.mainGnb p a img {display:inline-block; height:13px; opacity:1;} 
ul.mainGnb p a img:hover {display:inline-block; height:13px; opacity:0.6; } 

